*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: "Kumbh Sans", sans-serif;
}

.card-container {
  max-width: 17rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 25px;
  gap: 2rem;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 20px 30px 4px;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  gap: 2rem;
}

.card-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(238, 29%, 16%);
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-question-text {
  font-size: 0.7rem;
  color: hsl(237, 12%, 33%);
}

.card-answer {
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1rem;
  display: none;
}

.arrow {
  width: 8px;
  height: 6px;
  margin-left: 25px;
}

.card-image {
  position: absolute;
  top: -85px;
  left: 42px;
  width: 190px;
}

.image-shadow {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 42px;
  width: 190px;
}

hr {
  height: 1px;
  background-color: hsl(240, 5%, 91%);
  border: none;
  margin: 0;
  padding: 0;
}
