* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "league spartan", sans-serif;
  color: hsl(300, 43%, 22%);
  background: url("./images/bg-pattern-top-mobile.svg") left top no-repeat,
    url("./images/bg-pattern-bottom-mobile.svg") right bottom no-repeat;
}

main {
  margin: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  gap: 2.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 18rem;
}

.intro-wrapper h1 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.intro-wrapper p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3;
  color: hsl(303, 10%, 53%);
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-card {
  background-color: hsl(300, 24%, 96%);
  padding: 0.75rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 0.75rem;
  width: 16rem;
}

.review-rating {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-card {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user-card div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.user-info {
  display: flex;
  flex-direction: column;

  margin-left: 1rem;
}

.user-info h2 {
  font-size: 0.9rem;
  font-weight: 400;
}

.user-info h3 {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(333, 80%, 67%);
}

.user-image {
  border-radius: 100px;
  width: 40px;
}

.user-card p {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 1218px) {
  body {
    background: url("./images/bg-pattern-top-desktop.svg") left top no-repeat,
      url("./images/bg-pattern-bottom-desktop.svg") right bottom no-repeat;
  }

  main {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding: 4rem;
  }

  .desktop-top-row {
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    width: 100%;
  }

  .intro-wrapper {
    text-align: left;
    width: 22rem;
  }

  .intro-wrapper h1 {
    width: 14rem;
    font-size: 2rem;
  }

  .review-wrapper {
    width: 20rem;
  }

  .review-card {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 22rem;
  }

  .user-wrapper {
    flex-direction: row;
    gap: 1.5rem;
    height: 200px;
  }

  .user-card {
    height: 180px;
    flex: 1;
  }

  .one {
    align-self: start;
  }

  .two {
    align-self: center;
  }

  .three {
    align-self: end;
  }
}
